<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>

<div>
  <div>
    <label>Customer Name:</label>
    <input data-bind="value: CustomerName, event: {change: flagSalesOrderAsEdited}" />
  </div>
  <div>
    <label>P.O. Number:</label>
    <input data-bind="value: PONumber, event: {change: flagSalesOrderAsEdited}" />
  </div>
</div>

<p><button data-bind="click: save">Save</button></p>

<p>
  @Html.ActionLink("Back to List", "Index")
</p>
